TTN_Gateway_Notification.json
[
    {
        "id": "82dff4ccb21f7386",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8cdf2d6454039a08",
        "type": "inject",
        "z": "82dff4ccb21f7386",
        "name": "Gateway ID",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Insert Gateway ID here",
        "payloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "ce261bc06f4492c7"
            ]
        ]
    },
    {
        "id": "59470aa4b4108111",
        "type": "switch",
        "z": "82dff4ccb21f7386",
        "name": "",
        "property": "payload.online",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "4a0b88b383f9398b"
            ]
        ]
    },
    {
        "id": "ce261bc06f4492c7",
        "type": "function",
        "z": "82dff4ccb21f7386",
        "name": "Prep API Call",
        "func": "let id = msg.payload;\n\n\nmsg.url = \"https://mapper.packetbroker.net/api/v2/gateways/netID=000013,tenantID=ttn,id=\" + id +\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "dd34f9b016956077"
            ]
        ]
    },
    {
        "id": "dd34f9b016956077",
        "type": "http request",
        "z": "82dff4ccb21f7386",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "authType": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "d4d739cf3c7c8704"
            ]
        ]
    },
    {
        "id": "a26b854b91401d58",
        "type": "telegram sender",
        "z": "82dff4ccb21f7386",
        "name": "",
        "bot": "4007a88c54fce632",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d4d739cf3c7c8704",
        "type": "json",
        "z": "82dff4ccb21f7386",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "59470aa4b4108111"
            ]
        ]
    },
    {
        "id": "4a0b88b383f9398b",
        "type": "function",
        "z": "82dff4ccb21f7386",
        "name": "Prep Telegram",
        "func": "msg.payload.chatId = \"insert chat ID here\"\nmsg.payload.type = 'message'\nmsg.content = \" \" + msg.payload.id + \" \"\nmsg.payload.content = \"The Gateway: \" + msg.payload.id + \" is offline\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 100,
        "wires": [
            [
                "ef465e065519bffd",
                "a26b854b91401d58"
            ]
        ]
    },
    {
        "id": "ef465e065519bffd",
        "type": "debug",
        "z": "82dff4ccb21f7386",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "4007a88c54fce632",
        "type": "telegram bot",
        "botname": "SA_Gateway_TTN_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]